<div class="galery">
    ГАЛЕРЕЯ
</div>
<div class="title">
  <h1> ЗАГОЛОВОК ГЛАВНОЙ СТРАНИЦЫ </h1>
</div>
<div class="main-text">
  Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста 
</div>

<div class="right-column">
  <br>
  <br>
  <br>
  <div>Текст номер 1 Текст номер 1 Текст номер 1 Текст номер 1</div>
  <br>
  <div>Текст номер 2 Текст номер 2 Текст номер 2 Текст номер 3</div>
  <br>
  <div>Текст номер 3 Текст номер 3 Текст номер 3 Текст номер 2</div>
  <br>
</div>

<div class="for_clear"></div>

<div class="banners">
  <div class = "banner">Баннер 1</div>
  <div class = "banner">Баннер 2</div>
  <div class = "banner"> Баннер 3</div>
</div>

<div class="for_clear"></div>