<div class="galery">
  <div id="content">   
    <div id="example">
            <p><%=image_tag "logo.png"%></p>
            <p><%=image_tag "head2.png"%></p>
            <p><%=image_tag "footbg.png"%></p>
            
    </div>
  </div>
</div>
<div class="title">
  <h1> ЗАГОЛОВОК ГЛАВНОЙ СТРАНИЦЫ </h1>
</div>
<div class="main-text">
  Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста 
</div>

<div class="right-column">
  <br>
  <br>
  <br>
  <div>Текст номер 1 Текст номер 1 Текст номер 1 Текст номер 1</div>
  <br>
  <div>Текст номер 2 Текст номер 2 Текст номер 2 Текст номер 3</div>
  <br>
  <div>Текст номер 3 Текст номер 3 Текст номер 3 Текст номер 2</div>
  <br>
</div>

<div class="for_clear"></div>

<div class="banners">
  <div class = "banner fban"></div>
  <div class = "banner sban"></div>
  <div class = "banner tban"> </div>
  <div class="for_clear"></div>
</div>



<script type="text/javascript">

$(document).ready(function(){ 

  $("#example p:first").css("display", "block");

  jQuery.fn.timer = function() {
    if(!$(this).children("p:last-child").is(":visible")){
      $(this).children("p:visible")
        .css("display", "none")
        .next("p").css("display", "block");
    }
    else{
      $(this).children("p:visible")
        .css("display", "none")
      .end().children("p:first")
        .css("display", "block");
    }
  } // Конец функции таймера

  window.setInterval(function() {
    $("#example").timer();
  }, 7000);

});


</script>