development:
  adapter: mysql2
  database: lvl0nax_water57
  encoding: utf8
  username: lvl0nax_water57
  password: 
  host: mysql2.locum.ru
  pool: 5
  timeout: 5000


test:
  adapter: mysql2
  database: lvl0nax_water57
  encoding: utf8
  username: lvl0nax_water57
  password: 
  host: mysql2.locum.ru
  pool: 5
  timeout: 5000

production:
  adapter: mysql2
  database: lvl0nax_water57
  encoding: utf8
  username: lvl0nax_water57
  password: 
  host: mysql2.locum.ru
  pool: 5
  timeout: 5000