<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Телефон: <%= @call.phone %><br/>
      Имя: <%= @call.name %><br/>
      Комментарий Заказчика: <%= @call.comment %><br/>
    </p>
        
  </body>
</html>
