-# EDIT
- edit = link_to '', polymorphic_url(opts[:namespace] + [node], :action => :edit), :class => 'button edit'
-# DELETE
- if opts[:has_children]
  - delete =  link_to('', url_for(opts[:namespace] + [node]),
    :method   =>  :delete,
    :confirm  =>  t('.delete_confirm'),
    :class    =>  'button delete')
- else
  - delete =  link_to('', '#',
    :onclick  =>  "alert('#{t('.delete_nested_elements')}')",
    :class    =>  'button undeleted')
-# OUTPUT
= edit + delete
