
/* reset */
html,body,div,span,h1,h2,h3,h4,b,u,i,s,em,form,fieldset,label,legend,input,button,textarea,a,p,table,caption,tbody,thead,tr,th,td, ul, li, ol{margin:0;padding:0;outline:none;}
table {border-collapse:collapse;border-spacing:0; font-size:inherit;font:100%;}
fieldset,img {border:0;}
caption,th,td{text-align:left; padding: 0 10px; }
ul,ol{list-style: none}
input,button,textarea,select,em,th,optgroup,option {font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
/* global styles */
html, body {height:100%; color: #58595b}
a, .jslink{color: blue}
a:hover, .jslink:hover{color: #F15A2A}
.jslink{text-decoration: underline; cursor: pointer}
.jslink:hover{text-decoration: none}
body{font: 13px Helvetica,sans-serif;background: #fff}

h1 {font-size: 26px;}
h2 {font-size: 21px;}
h3 {font-size: 19px;}
h4 {font-size: 17px;}
h1, h2, h3, .normal {font-weight: normal;color: #333132;margin: 0 0 0.35em;line-height: 1em;}
.notify-title {color: #F15A2A}

#container{
  min-height:100%;min-width:950px;position:relative;overflow:hidden;
  background-image: url("/assets/contbg.png");
  background-size: 100% auto;
}
.content-top{
  position: relative; width: 950px; height: 285px; margin: 0 auto;
  background-image: url(/assets/head.png); background-size: 100%; background-repeat: no-repeat;
}
#content-body{margin:0 auto; width:950px; position: relative;z-index: 2; padding-bottom: 130px;}
#content-footer{
  z-index: 10; position: absolute; bottom: 0; left: 50%; 
  margin: 0 0 0 -475px; width: 950px; height: 100px; padding: 20px 0 15px
}

.top-menu{
	width: 100%; height: 50px;  text-align: center;
	background-image: url(/assets/1.png) ; background-size: 100%;
	position: absolute; top: 190px;
	-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;
  
}
.top-menu a{ text-decoration: none; color: white; }
.top-menu a div:hover{ 
  background-color: #00b5eb;
    box-shadow: inset 1px 1px 2px #0068b3;
  -webkit-box-shadow: inset 1px 1px 2px #0068b3;
  -moz-box-shadow: inset 1px 1px 2px #0068b3;
}
.top-menu a div{ display: inline-block; padding: 0 15px; line-height: 50px;}
.top-menu span{height: 50px;line-height: 50px;padding: 10px 5px;}


.admin-links{
  background-color: grey;
  width: 100%; height: 35px; 
  position: absolute; top: 245px;
  -moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;
  color: white;
  padding-left: 10px;

}

.admin-links a:hover{ color: white;}


.ad-loader {display: none !important; }
#logo{
	position: absolute; top: 70px; left: 380px;
}
#logo img{width: 225px;}

.phone{
  position: absolute; top: 105px; left: 0px; color: #007cc1; font-size: 20px;
  text-shadow: white 1px 1px 2px, white 1px 1px 5px;
}

.phone div{color:#eb2741; font-size: 35px; font-weight: bold;}

#call-phone{position: absolute; top: 135px; right: 0; opacity: 1;}
#call-phone :hover{cursor: pointer; opacity: 1;}
.login-links{float:right;margin-top: 30px; font-size: 16px; }
.login-links a{text-decoration: none; color: #688daa; float: right;}
.login-links a:hover{ color: #688d22; }

.foot-table {margin: 0 auto; width: 80%; color:  #005CFF;} 
.foot-table td {padding: 5px 0 0 0; width: 20%;} 
.foot-table thead {font-weight: bold;}
.foot-table a {text-decoration: none; color:  #005CFF;}
.foot-table a:hover {color:  #25b1ff;}

.top-text{color:#1581bf;text-shadow:white 0 0 3px; font-size: 17px; 
  position: absolute;
  top:20px;
  left:280px;
}
ul.tm{ text-shadow:#003893 2px 2px 2px; font-weight: bold;}


/* common styling */
.menu {font-family: arial, sans-serif;   z-index:100;}
.menu ul li a, .menu ul li a:visited {position: relative; display:block; text-decoration:none; text-align:center; color:#fff;  overflow:hidden; }
.menu ul { list-style: none;}
.menu ul li {display:inline-block; position:relative;}
.menu ul li ul {display: none;}
/*.tm li a{margin-bottom: 5px;}

/* specific to non IE browsers */
.menu ul li:hover a { background:#40BDFF;
    box-shadow: inset 1px 1px 2px #0068b3;
  -webkit-box-shadow: inset 1px 1px 2px #0068b3;
  -moz-box-shadow: inset 1px 1px 2px #0068b3;
}
.menu ul li:hover ul {display:block; position:absolute; top:50px; left:0; text-shadow:none;
  box-shadow: inset 1px 1px 2px #0068b3;
  -webkit-box-shadow: inset 1px 1px 2px #0068b3;
  -moz-box-shadow: inset 1px 1px 2px #0068b3;
}
.menu ul li:hover ul li a.hide {background:#fff; color:#000; height: 20px;}
/*.menu ul li:hover ul li:hover a.hide {background:#40BDFF; color:#000;}*/
.menu ul li:hover ul li a {display:block; background:#fff; color:#005CFF; box-shadow: none; -webkit-box-shadow: none;-mox-box-shadow: none;}
.menu ul li:hover ul li a:hover {background:#40BDFF; color:#005CFF;
  box-shadow: inset 1px 1px 2px #0068b3;
  -webkit-box-shadow: inset 1px 1px 2px #0068b3;
  -moz-box-shadow: inset 1px 1px 2px #0068b3;
}

.firstli li{line-height: 20px !important; width: 160px; }
.tm p{height: 5px;}
.firstli{
  text-align: left; 
  margin-top: 5px;
  -moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;
  background-color: #fff;
  box-shadow: 5px 5px 5px #005CFF !important;
  -webkit-box-shadow: 5px 5px 5px #005CFF !important;
  -moz-box-shadow: 5px 5px 5px #005CFF !important;
}

.coolersli li{width: 154px;}
/*.aboutli li{width: 128px;}
.waterli li{width: 110px;}*/

/*info page*/
.title h1{color:#507070; font-weight: bold; font-family: sans-serif;}

.date{color: #688d22;font-family: 'Times New Roman'; font-style: italic;}
h1.newstitle{color:#507070;}
.newspage h2 a{color:#688daa; text-decoration: none;}
.newspage h2 a:hover{color:#466b99;}
.nplinks a{color:#688daa;}
.nplinks a:hover{color:#466b99;}
.newspage{padding: 10px; border-bottom: 1px grey solid;}
.specoffer{
  padding: 10px; /*border-bottom: 1px #688daa solid;*/
  -moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;
  box-shadow: 3px 3px 7px #688daa;
  -webkit-box-shadow: 3px 3px 7px #688daa;
  -moz-box-shadow: 3px 3px 7px #688daa;
}
.specoffer h2{color:#688daa;}
.specoffer img{float: left; padding-right: 10px; }
.so_img {}

table.delivery td{padding:3px;}
table.delivery td.true{background-color: lightgreen}
table.delivery td.false{background-color: pink}

table.cooler-table td{padding-left:15px; }
table.cooler-table tr :first-child{font-weight: bold;}

.cooler a{text-decoration: none;}
.cooler a h1:hover{color:#98bDdA;}
.cooler img {float: left;}
.cooler{ vertical-align: middle;}
.cooler p{padding:20px 5px 10px 5px;}
.cborder{
    border:1px dotted #aaa; 
    -moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
.aborder{
    border:1px dotted #aaa; 
    -moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
.for_clear{clear:left;}

.waterb{background-color: lightblue; }
.waterb td {border: 2px double #ddd; text-align: center;}

.galery {width: 100%; height: 400px; /*background-color: lightblue;*/ margin-bottom: 30px; }
.main-text{ color: #688daa; width: 63%; float:left; padding: 10px; font-size: 15px; text-align: justify;}
.right-column{ width: 25%; float: right; vertical-align: middle; padding: 10px; font-size: 16px; color: #688daa; margin-right: 15px;}
.right-column img{float: left; padding-right: 15px}

.banners{ 
  padding-top: 40px;
  background-image: url("/assets/footbg.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.banner{ 
  float:left; width: 271px; height: 185px; /*background-color: lightgreen;*/ margin: 20px; 
  /*border: 1px solid #688daa;*/
  -moz-border-radius: 9px;-webkit-border-radius: 9px;border-radius: 9px;
  text-align: center; line-height: 170px;
}

.fban{ background-image: url(/assets/banner1.png); background-size: 100%; background-repeat: no-repeat; background-position: center;}
.sban{ background-image: url(/assets/banner2.png); background-size: 100%;background-repeat: no-repeat; background-position: center;}
.tban{ background-image: url(/assets/banner3.png); background-size: 100%;background-repeat: no-repeat; background-position: center top;}

#example{
      background: white;
      /*border: 2px solid #333;*/
      display: block;
      margin: 0 auto;
      padding: 10px;
      width: 97%;
      height: 375px;
  }
  #example p{
      color: #333;
      width: 97%;
      height: 375px;
      display: none;
      font-weight: bold;
      text-align: center;

  }
  #example p:first-child{
      display: block;
  }

  #example img {width: 950px;}

  #order-button{
    position: fixed;
    right: -40px;
    top:250px;
    min-width: 50px;
    min-height: 100px;
    
  }

  .login-links a{font-family: sans-serif;}

.ad-gallery {
  width: 950px;
  margin-bottom: 40px !important;
}
.ad-gallery .ad-image-wrapper {
  height: 300px;
}

#close{
  padding-left: 4px;
  padding-right: 4px;
  position: absolute;
  top:10px;
  right: 10px;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
  color: white;
  background-color: #e74949;
  -moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;
}

#close:hover{
  font-size: 18px;
  color: white;
  background-color: #e74949;
  -moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;
   box-shadow: 0px 0px 5px #e74949;
  -webkit-box-shadow: 0px 0px 5px #e74949;
  -moz-box-shadow: 0px 0px 5px #e74949;
}

#popup .simple-form{
  position: relative;
}
.for_right{clear: right;}

#order-button :hover{cursor: pointer;}

#popup{
  position:absolute; z-index: 1000;
  -moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;
  box-shadow: 5px 5px 5px #888;
  -webkit-box-shadow: 5px 5px 5px #888;
  -moz-box-shadow: 5px 5px 5px #888;
}

#popup h1{text-align: center; color: #045bb9;}
.request-call .form-inputs input{width: 100%; height: 25px; margin-top: 10px; }
.order .form-inputs .input{height: 20px; margin-top: 10px; }
.order .form-inputs {padding-bottom: 20px;}
#popup .form-actions{
  text-align: center;
  padding-top: 20px;
}
#popup .integer input{width: 45px;}
#popup input.fio{ width: 100%;}
.request-call .note{ text-align: center; font-size: 18px; color: grey;}
#popup .form-actions input{ 
  width: 250px; height: 40px; background-color: #9be42b;
  -moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;
  color: #636363;
  font-size: 20px;
}

.order{
  background-color: #f2fdfc;
  top:280px;
  left:385px;
  min-height: 100px;
  min-width: 500px;
  max-width: 700px;
  max-height: 900px;
  padding: 15px;
}

.request-call{
  background-color: #f2fdfc;
  top:285px;
  left:385px;
  min-height: 100px;
  min-width: 400px;
  max-width: 500px;
  max-height: 900px;
  padding: 15px;
}

#popup label {float: left; line-height: 19px; width:150px;}
/*#popup input {float: right;}
#popup select {float: right;}
#popup .checkbox {float: right;}
#popup textarea {float: right;}
*/
.disable{
  position: fixed; top:0; left: 0; 
  width: 100%; height: 100%; 
  background-image: url(/assets/opa75.png);
  z-index: 100;
}


.social{
  position: absolute;
  top: 75px;
  right: 0;
  color: #688daa;
  font-size: 20px;
  font-weight: bold;
}
.social a {text-decoration: none;}
.social span{
  float: left;
  padding-top: 12px;
}

.hdn {position: absolute; left: -9000px;}
#tests {position: absolute; left: -9000px;}

.days label.radio{width: 55px !important;}