
/* reset */
html,body,div,span,h1,h2,h3,h4,b,u,i,s,em,form,fieldset,label,legend,input,button,textarea,a,p,table,caption,tbody,thead,tr,th,td, ul, li, ol{margin:0;padding:0;outline:none;}
table {border-collapse:collapse;border-spacing:0; font-size:inherit;font:100%;}
fieldset,img {border:0;}
caption,th,td{text-align:left;}
ul,ol{list-style: none}
input,button,textarea,select,em,th,optgroup,option {font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
/* global styles */
html, body {height:100%; color: #58595b}
a, .jslink{color: blue}
a:hover, .jslink:hover{color: #F15A2A}
.jslink{text-decoration: underline; cursor: pointer}
.jslink:hover{text-decoration: none}
body{font: 13px Helvetica,sans-serif;background: #fff}

h1 {font-size: 30px;}
h2 {font-size: 21px;}
h3 {font-size: 19px;}
h4 {font-size: 17px;}
h1, h2, h3, .normal {font-weight: normal;color: #333132;margin: 0 0 0.35em;line-height: 1em;}
.notify-title {color: #F15A2A}

#container{min-height:100%;min-width:950px;position:relative;overflow:hidden}
.content-top{
  position: relative; width: 950px; height: 285px; margin: 0 auto;
  background-image: url(/assets/head2.png); background-size: 100%; background-repeat: no-repeat;
}
#content-body{margin:0 auto; width:950px; position: relative;z-index: 2; padding-bottom: 130px;}
#content-footer{
  z-index: 10; position: absolute; bottom: 0; left: 50%; 
  margin: 0 0 0 -475px; width: 950px; height: 100px; padding: 20px 0 15px
}

.top-menu{
	width: 100%; height: 50px; line-height: 50px; text-align: center;
	background-image: url(/assets/1.png) ; background-size: 100%;
	position: absolute; top: 190px;
	-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;
  
}
.top-menu a{ text-decoration: none; color: white; height: 50px;}
.top-menu a:hover{ background-color: #333333;}
.top-menu span{height: 50px;line-height: 50px;padding: 10px 5px;}


.admin-links{
  background-color: grey;
  width: 100%; height: 20px; 
  position: absolute; top: 245px;
  -moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;
  color: white;
  padding-left: 10px;

}

.admin-links a:hover{ color: white;}

#logo{
	position: absolute; top: 43px; left: 380px;
}
#logo img{width: 225px;}

.phone{position: absolute; top: 105px; left: 0px; color: #007cc1;}
.phone span{color:#eb2741; font-size: 30px; font-weight: bold;}

.login-links{float:right;margin-top: 30px; font-size: 18px; }
.login-links a{text-decoration: none; color: #688daa; float: right;}
.login-links a:hover{ color: #688d22; }

.foot-table {margin: 0 auto; width: 80%; color:  #005CFF;} 
.foot-table td {padding: 5px 0 0 0; width: 20%;} 
.foot-table thead {font-weight: bold;}

