
/* reset */
html,body,div,span,h1,h2,h3,h4,b,u,i,s,em,form,fieldset,label,legend,input,button,textarea,a,p,table,caption,tbody,thead,tr,th,td, ul, li, ol{margin:0;padding:0;outline:none;}
table {border-collapse:collapse;border-spacing:0; font-size:inherit;font:100%;}
fieldset,img {border:0;}
caption,th,td{text-align:left; padding: 0 10px; }
ul,ol{list-style: none}
input,button,textarea,select,em,th,optgroup,option {font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
/* global styles */
html, body {height:100%; color: #58595b}
a, .jslink{color: blue}
a:hover, .jslink:hover{color: #F15A2A}
.jslink{text-decoration: underline; cursor: pointer}
.jslink:hover{text-decoration: none}
body{font: 13px Helvetica,sans-serif;background: #fff}

h1 {font-size: 30px;}
h2 {font-size: 21px;}
h3 {font-size: 19px;}
h4 {font-size: 17px;}
h1, h2, h3, .normal {font-weight: normal;color: #333132;margin: 0 0 0.35em;line-height: 1em;}
.notify-title {color: #F15A2A}

#container{min-height:100%;min-width:950px;position:relative;overflow:hidden}
.content-top{
  position: relative; width: 950px; height: 285px; margin: 0 auto;
  background-image: url(/assets/head2.png); background-size: 100%; background-repeat: no-repeat;
}
#content-body{margin:0 auto; width:950px; position: relative;z-index: 2; padding-bottom: 130px;}
#content-footer{
  z-index: 10; position: absolute; bottom: 0; left: 50%; 
  margin: 0 0 0 -475px; width: 950px; height: 100px; padding: 20px 0 15px
}

.top-menu{
	width: 100%; height: 50px;  text-align: center;
	background-image: url(/assets/1.png) ; background-size: 100%;
	position: absolute; top: 190px;
	-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;
  
}
.top-menu a{ text-decoration: none; color: white; }
.top-menu a div:hover{ background-color: #40BDFF;}
.top-menu a div{ display: inline-block; padding: 0 15px; line-height: 50px;}
.top-menu span{height: 50px;line-height: 50px;padding: 10px 5px;}


.admin-links{
  background-color: grey;
  width: 100%; height: 20px; 
  position: absolute; top: 245px;
  -moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;
  color: white;
  padding-left: 10px;

}

.admin-links a:hover{ color: white;}

#logo{
	position: absolute; top: 43px; left: 380px;
}
#logo img{width: 225px;}

.phone{position: absolute; top: 105px; left: 0px; color: #007cc1;}
.phone span{color:#eb2741; font-size: 30px; font-weight: bold;}

.login-links{float:right;margin-top: 30px; font-size: 18px; }
.login-links a{text-decoration: none; color: #688daa; float: right;}
.login-links a:hover{ color: #688d22; }

.foot-table {margin: 0 auto; width: 80%; color:  #005CFF;} 
.foot-table td {padding: 5px 0 0 0; width: 20%;} 
.foot-table thead {font-weight: bold;}

ul.tm{padding-left: 30px;}

/* common styling */
.menu {font-family: arial, sans-serif; position:relative;  z-index:100;}
.menu ul li a, .menu ul li a:visited {position: relative; display:block; text-decoration:none; text-align:center; color:#fff;  overflow:hidden;}
.menu ul { list-style: none;}
.menu ul li {display:inline-block; position:relative;}
.menu ul li ul {display: none;}

/* specific to non IE browsers */
.menu ul li:hover a { background:#40BDFF;}
.menu ul li:hover ul {display:block; position:absolute; top:50px; left:0; }
.menu ul li:hover ul li a.hide {background:#fff; color:#000; height: 20px;}
/*.menu ul li:hover ul li:hover a.hide {background:#40BDFF; color:#000;}*/
.menu ul li:hover ul li a {display:block; background:#fff; color:#005CFF;}
.menu ul li:hover ul li a:hover {background:#40BDFF; color:#005CFF;}

.firstli li{line-height: 20px !important; width: 101px; }

.firstli{
  text-align: left; 
  padding-top: 5px;
  -moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;
  background-color: #fff;
  box-shadow: 5px 5px 5px #005CFF;
  -webkit-box-shadow: 5px 5px 5px #005CFF;
  -moz-box-shadow: 5px 5px 5px #005CFF;
}

.coolersli li{width: 150px;}

/*info page*/
.title h1{color:#688daa; font-weight: bold;}

.date{color: #688d22;font-family: 'Times New Roman'; font-style: italic;}
h1.newstitle{color:#688d22;}
.newspage h2 a{color:#688daa; text-decoration: none;}
.newspage h2 a:hover{color:#466b99;}
.nplinks a{color:#688daa;}
.nplinks a:hover{color:#466b99;}
.newspage{padding: 10px; border-bottom: 1px grey solid;}
.specoffer{
  padding: 10px; /*border-bottom: 1px #688daa solid;*/
  -moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;
  box-shadow: 3px 3px 7px #688daa;
  -webkit-box-shadow: 3px 3px 7px #688daa;
  -moz-box-shadow: 3px 3px 7px #688daa;
}
.specoffer h2{color:#688daa;}
.specoffer img{float: left; padding-right: 10px; }
.so_img {}

table.delivery td{padding:3px;}
table.delivery td.true{background-color: lightgreen}
table.delivery td.false{background-color: pink}

table.cooler-table td{padding-left:15px; }
table.cooler-table tr :first-child{font-weight: bold;}

.cooler img {float: left;}
.cooler{ vertical-align: middle;}
.cooler p{padding:20px 5px 10px 5px;}
.cborder{
    border:1px dotted #aaa; 
    -moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
.aborder{
    border:1px dotted #aaa; 
    -moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
.for_clear{clear:left;}

.waterb{background-color: lightblue; }
.waterb td {border: 2px double #ddd; text-align: center;}

.galery {width: 100%; height: 400px; /*background-color: lightblue;*/ margin-bottom: 30px; }
.main-text{ color: #688daa; width: 70%; float:left; padding: 10px;}
.right-column{ width: 24%; float: right; vertical-align: middle; padding: 10px;color: #688daa;}

.banners{ 
  padding-top: 40px;
  background-image: url("/assets/footbg.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.banner{ 
  float:left; width: 271px; height: 130px; /*background-color: lightgreen;*/ margin: 20px; 
  /*border: 1px solid #688daa;*/
  -moz-border-radius: 9px;-webkit-border-radius: 9px;border-radius: 9px;
  text-align: center; line-height: 170px;
}

.fban{ background-image: url(/assets/first.png); background-size: 100%;}
.sban{ background-image: url(/assets/second.png); background-size: 100%;}
.tban{ background-image: url(/assets/third.png); background-size: 100%;}

#example{
      background: white;
      /*border: 2px solid #333;*/
      display: block;
      margin: 0 auto;
      padding: 10px;
      width: 97%;
      height: 375px;
  }
  #example p{
      color: #333;
      width: 97%;
      height: 375px;
      display: none;
      font-weight: bold;
      text-align: center;

  }
  #example p:first-child{
      display: block;
  }